{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="display-4">Entre em Contato</h2>
    <p>
        Você pode entrar em contato conosco de várias maneiras. Estamos sempre felizes em ouvir de você!
    </p>
    <ul>
        <li><strong>Email:</strong> exemplo@email.com</li>
        <li><strong>Telefone:</strong> (XX) XXXX-XXXX</li>
    </ul>
    <p>
        Ou, se preferir, você pode preencher o formulário abaixo e responderemos o mais rápido possível:
    </p>
    <!-- Adicione aqui o seu formulário de contato, se tiver um -->
</div>
{% endblock %}
