<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Clientes</title>
</head>
<body>
    <h1>Cadastro de Clientes</h1>
    
    <form action="/cadastrar" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone"><br><br>
        
        <label for="endereco">Endereço:</label>
        <textarea id="endereco" name="endereco"></textarea><br><br>
        
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
